<!-- Navbar -->
<header>
    <nav class="nav py-3 shadow-sm bg-light">
        <div class="container-lg">
            <div class="row">
                <div class="col-4">
                    <div class="nav justify-content-start">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logonav.png" alt="" style="width: 140px; height: auto;">
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <ul class="nav gap-3 justify-content-end">
                        <li class="nav-item btn-bg">
                            <a class="nav-link btn-text text-uppercase" href=""><i class="uil uil-signin"></i> Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>