<!-- Banner y About me -->
<section>
    <div class="container-lg py-4">
        <div class="position-relative">
            <img src="assets/img/Banner.jpg" alt="" width="100%" height="auto">
            <div class="position-absolute top-0 end-0 pt-2 pe-2">
                <button type="button" class="btn edit-btn-bg rounded-circle btn-text"><i
                        class="uil uil-pen"></i></button>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-4 pb-3">
                <div class="position-relative">
                    <img src="assets/svg/user.svg" alt="" width="150"
                        class="mx-auto d-block rounded-circle border border-light">
                    <div class="position-absolute top-0 end-0 pt-2 pe-2">
                        <button type="button" class="btn edit-btn-bg rounded-circle btn-text"><i
                                class="uil uil-pen"></i></button>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-center pt-3">
                        <h3 class="text-shadow  fw-bold">
                            Nombre y Apellido
                        </h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 class="text-shadow  fw-bold">
                            Titulo
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 bg-color mx-auto position-relative pb-3">
                <div class="pt-4">
                    <h3 class="fw-bold">
                        Sobre mi
                    </h3>
                </div>
                <div>
                    <p class="lh-base">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="pt-4">
                    <div class="d-flex justify-content-center aling-item-center gap-5">
                        <a class="social-media" href="#"><i class="uil uil-instagram"></i></a>
                        <a class="social-media" href="#"><i class="uil uil-facebook"></i></a>
                        <a class="social-media" href="#"><i class="uil uil-github"></i></a>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 pt-2 pe-2">
                    <button type="button" class="btn edit-btn-bg rounded-circle btn-text"><i
                            class="uil uil-pen"></i></button>
                </div>
            </div>

        </div>
    </div>
</section>