/* CSS BASE */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #fff;
}

.bg-color {
    background-color: #DBE2EF;
    border-radius: 10px; 
}
.btn-bg {
    padding: 2px;
    background-color: #112D4E;
    border-radius: 10px;
    margin-top: 6px;
}
.btn-text {
    color: white;
}
.btn-text:hover {
    color: #97e2ef;
}

.social-media {
    font-size: 25px;
    color: #3F72AF;
}

.social-media:hover {
    color: #112D4E;
}

.bg-progressbar {
    background: #3F72AF;
}

.text-shadow {
    text-shadow: 5px 4px 7px rgb(139, 139, 139);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

.bg-progressbar-alt {
    background-color: #112D4E
}

.edit-btn-bg {
    background-color: #112D4E;
}