<!-- Experiencia -->
<section>
    <div class="container-lg">
        <h1 class="text-shadow fs-1 fw-bold">Experiencia</h1>
    </div>
    <div class="container-lg bg-color py-4 position-relative">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="justify-content-center">
                    <img src="assets/svg/briefcase-alt.svg" alt="" width="120" class="mx-auto d-block">
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="fw-bold">
                    Titulo del puesto
                </h2>
                <h5 class="text-muted">Puesto</h5>
                <ol>
                    <li>Descripción de las</li>
                    <li>actividades realizadas</li>
                    <li>en ese puesto.</li>
                </ol>
            </div>
        </div>
        <div class="position-absolute top-0 end-0 pt-2 pe-2">
            <button type="button" class="btn edit-btn-bg rounded-circle btn-text"><i class="uil uil-pen"></i></button>
        </div>
    </div>
</section>